# Dependencies
node_modules/
bun.lockb

# Vite / Build outputs
dist
dev-dist

# Bun specific
.bun-build/
*.bun

# Local Environment
.env
.env*.local

# OS Metadata
.DS_Store
Thumbs.db

# Editor Specific
.vscode/
.idea/
*.swp
*.swo